* {
    margin: 0;
    padding: 0;
}

.page {
    width: 1200px;
    margin: 0 auto;
}

.footer {
    margin-top: 50px;
    font-family: 'Bad Script', cursive;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 20px;
}

.footer .copyright {
    text-align: center;
    line-height: 20px;
}

.footer .copyright a {
    color: #0072bc;
    text-decoration: underline;
}


.menu
{
    height: 66px;

}

.menu a {
    display: block;
    width: 349px;
    position: absolute;
    margin-top: 10px;

}

.menu .matafuku-link
{
    height: 44px;
    background: url("../matafuku/img/matafuku-link.png");
    margin-left: 20px;
}

.menu .matafuku-link.selected
{
    background: url("../matafuku/img/matafuku-link-selected.png");
}

.menu .salad-link{
    height: 47px;
    background: url("../matafuku/img/salad-link.png");
    margin-left: 440px;
}

.menu .salad-link.selected
{
    background: url("../matafuku/img/salad-link-selected.png");
}

.menu .limo-link
{
    height: 44px;
    background: url("../matafuku/img/limo-link.png");
    margin-left: 840px;
}

.menu .limo-link.selected
{
    background: url("../matafuku/img/limo-link-selected.png");
}